.App {
  text-align: center;
  background-color: #768298;
  color: white;
}

.credit-text-hum {
  padding-top: 200px;
  padding-left: 200px;
}

.credit-text-hum-hum {
  padding-top: 100px;
}

.credits-section {
  font-size:25px;
  display: flex;
  justify-content: flex-start;
}

.App-logo {
  padding: 20px;
  height: 12vmin;
  width: 12vmin;
  pointer-events: none;
  border-radius: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 35s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content > div {
  width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.helper {
  color: green;
}

.needer {
  color: purple;
}

h3 {
  color: gray;
  padding: 0;
  margin: 0;
}

.button-holder {
  display: flex;
  justify-content: space-around;
}